@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');

.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.happy-coding {
    color: #fff;
    font-size: 50px;
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    margin-top: -40px;
}

@keyframes float {
    0% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

.float-animation {
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.game-container {
    width: 50vw;
    height: 35vw;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    overflow: hidden;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./images/background.jpg");
    background-size: cover;
    filter: blur(1.5rem) brightness(0.8);
    -webkit-filter: blur(1.5rem) brightness(0.8);
    transform: scale(1.2);
    z-index: -1;
    // filter: brightness(0.8);
}

.game-controller {
    @extend .flex-center-column;
    @extend .float-animation;
    position: relative;
    width: 40%;
    height: 80%;
    margin-right: 40px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(114, 114, 114, 0.18);
}

.game-layout {
    text-align: center;
}

.editor-container {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    position: relative;
    width: 92%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 15px;
}

.ace-editor {

    background: transparent;
    font-size: 14px;
    margin: 10px;
    line-height: "1.5";

    ::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 8px;
        height: 8px;
        margin-left: 10px;
    }


    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }

}

.game-controller__header {
    @extend .flex-center-row;
    position: relative;
    width: 90%;
    height: 52px;
    margin-bottom: 20px;
}

.game-controller-header__title {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.game-controller__run-btn {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend .flex-center-row;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.8);
    width: 38px;
    height: 38px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    padding: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    transition: .2s;
    font-weight: bold;

    &:hover {
        color: #009688;
        background: rgba(255, 255, 255, 0.1);

        * {
            color: #009688;
        }
    }

}

.game-controller__reset-btn {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend .flex-center-row;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.8);
    width: 38px;
    height: 38px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    padding: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    transition: .2s;
    font-weight: bold;

    &:hover {
        color: #EF5350;
        background: rgba(255, 255, 255, 0.1);

        * {
            color: #EF5350;
        }
    }

}

.lesson-container {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    display: flex;
    position: relative;
    width: 92%;
    height: 30%;
    margin: 10px;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
    font-weight: 500;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Roboto Mono', monospace;
    white-space: pre-line;
    overflow-y: auto;

    &::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 8px;
        height: 8px;
        margin-left: 10px;
    }


    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }
}

.transition {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: none;
}

.transition__circle {
    position: absolute;
    border-radius: 50%;
    margin-left: -10px;
    position: relative;
    background: linear-gradient(151deg, rgba(32, 9, 85, 0.9) 0%, rgba(102, 0, 255, 1) 100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.progress-panel {
    @extend .flex-center-column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);

    p {
        font-size: small;
        color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        margin: 0;
    }

}

.progress-bar {
    @extend .flex-center-row;
    position: relative;
    align-items: flex-start;
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    position: relative;
    margin-right: auto;
    height: 100%;
    align-self: start;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -moz-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.blue span {
    background-color: #34c2e3;
}

.stripes span {
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    -ms-background-size: 30px 30px;
    -o-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -moz-animation: animate-stripes 3s linear infinite;
    -webkit-animation: animate-stripes 3s linear infinite;
}

@-moz-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}